aiohttp         # asynchronous HTTP/S
asyncio         # AIO all the time
argparse        # CLI commands and options
ciscoisesdk     # ISE Python REST API wrapper
faker           # generate fake users, MACs, IPs
pandas          # import and manipulate data in dataframes
PyYAML          # YAML
requests        # synchronous HTTP/S
tabulate        # dump data in tables
urllib3
